<div id="pageLanguage" style="display: none"><%=page.language%></div>
<div id="removeButton" style="display: none"><%=page.secondCounterBlockSubTitle%></div>
<div id="addButton" style="display: none"><%=page.firstCounterBlockSubTitle%></div>
<div style="display: none" id="connectionCheck1"><%= page.connectionCheck1%></div>
<div style="display: none" id="connectionCheck2"><%= page.connectionCheck2%></div>
<div style="display: none" id="connectionCheck3"><%= page.connectionCheck3%></div>
<div style="display: none" id="connectionCheck4"><%= page.connectionCheck4%></div>
<div style="display: none" id="connectionCheck5"><%= page.connectionCheck5%></div>
<div style="display: none" id="connectionCheck6"><%= page.connectionCheck6%></div>
<div style="display: none" id="connectionCheck7"><%= page.connectionCheck7%></div>
<div style="display: none" id="IdentityCheck1"><%= page.IdentityCheck1%></div>
<div style="display: none" id="IdentityCheck2"><%= page.IdentityCheck2%></div>
<div style="display: none" id="IdentityCheck3"><%= page.IdentityCheck3%></div>

